In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [ ]:
___ = ''

In [ ]:
pd.__version__

# Pandas DataFrames

## What is a DataFrame?

A DataFrame, simply put, is a **Table** of data.  It is a structure that contains multiple rows, each row containing the same labelled collection of data types.  For example, a DataFrame might look like this:

| (index) | Name | Age | Height | LikesIceCream |
| :---: | :--: | :--: | :--: | :--: |
| 0     | "Nick" | 22 | 3.4 | True |
| 1     | "Jenn" | 55 | 1.2 | True |
| 2     | "Joe"  | 25 | 2.2 | True |

Because each row contains the same data, DataFrames can also be thought of as a collection of same-length columns!

**Pandas** is a Python package that has a DataFrame class.  Using either the **DataFrame** class constructor or one of Pandas' many **read_()** functions, you can make your own DataFrame from a variety of sources.

## Making DataFrames Directly

### From a List of Dicts

Dicts are named collections.  If you have many of the same dicts in a list, the DataFrame constructor can convert it to a Dataframe:

In [6]:
friends = [
    {'Name': "Nick", "Age": 31, "Height": 2.9},
    {'Name': "Jenn", "Age": 55, "Height": 1.2},
    {"Name": "Joe",  "Age": 25, "Height": 1.2},
]
pd.DataFrame(friends)

   Age  Height  Name
0   31     2.9  Nick
1   55     1.2  Jenn
2   25     1.2   Joe

### From a List of Lists

if you have a collection of same-length sequences, you essentially have a rectangular data structure already!  All that's needed is to add some column labels.

In [8]:
friends = [
    ['Nick', 31, 2.9],
    ['Jenn', 55, 1.2],
    ['Joe',  25, 1.2],
]
pd.DataFrame(friends, columns=["Name", "Age", "Height"])

   Name  Age  Height
0  Nick   31     2.9
1  Jenn   55     1.2
2   Joe   25     1.2

### From an empty DataFrame
If you prefer, you can also add columns one at a time, starting with an empty DataFrame:

In [9]:
df = pd.DataFrame()
df['Name'] = ['Nick', 'Jenn', 'Joe']
df['Age'] = [31, 55, 25]
df['Height'] = [2.9, 1.2, 1.2]
df

   Name  Age  Height
0  Nick   31     2.9
1  Jenn   55     1.2
2   Joe   25     1.2

### From a File
Finally, you make DataFrames from a wide variety of file types.  To do this, use one of the functions in Pandas that start with "read_".  Here is a non-exclusive list of examples:

| File Type | Function Name |
| :----:    |  :---:  |
| Excel | pd.read_excel() |
| CSV | pd.read_csv() |
| TSV | pd.read_table() |
| H5, HDF, HDF5 | pd.read_hdf() |
| JSON  | pd.read_json() |
| SQL | pd.read_sql_table() |

## (Lecture: CSV and Excel Files)

## Exercise
Make an Excel file containing the Name, Age, and Height columns from above, then load it into Pandas!

Make a CSV file containing the Name, Age, and Height columns (same table), then load it into Pandas

## Load the Data
For the rest of this section, we'll use the "World Fertility Rates" from the StatsModels repository.

In [ ]:
df = pd.read_csv('worldbankdata.csv')
df

## Selecting Data

Pandas has a lot of flexibility in the number of syntaxes it supports.  For example, to select columns in a DataFrame:

```python
df['Column1']
df.Column1
df.get('Column1')
```

Multiple Columns can also be selected by providing a list:

```python
df[['Column1', 'Column2']]
df.get(['Column1', 'Column2'])
```

Rows are selected with the **iloc** and **loc** attributes:

```python
df.iloc[5]  # Used to get the "integer" index of the row.
df.loc['Row5']  # Used if rows are named.
```

If you want to label the rows, you can make an index by using the **set_index()** method or by assinging the **DataFrame.index** property:

```python
df = df.set_index('Column1')
df.index = df['Column1']
```

You can switch the rows and columns using the **transpose()** method or **T** property:

```python
df.transpose()
df.T
```

All of these approaches are described in the Pandas documentation here: https://pandas.pydata.org/pandas-docs/stable/user_duide/indexing.html

#### Exercises
Get the "Country Name" column from the data frame using the different methods:

In [ ]:
df[___]

In [ ]:
df.___

In [ ]:
df.get(___)

And the same with the year column **1976**:

In [ ]:
df[___]

In [ ]:
df.___

In [ ]:
df.get(___)

What about getting both the years 1976 and 1977 at the same time?

In [ ]:
df[___]

In [ ]:
df.___

In [ ]:
df.get(___)

What about the 10th row of data?

In [ ]:
df.loc[]

In [ ]:
df.iloc[]

Whe 5th-8th row of data?

In [ ]:
df.loc[]

In [ ]:
df.iloc[]

What about just Germany' data?

In [ ]:
df2 = df.set_index(___)
df2.___[___]

**Note:** When selecting single columns, Pandas will give a Series object instead of a DataFrame. If you'd like to keep it as a DataFrame, you can put the column name in a list:

```python
df[['Column1']]
df.get(['Column1'])
```

**Discussion**: What data selection syntax do you prefer?  What are some pros and cons of each?

## Summarizing / Aggregating Data in DataFrames

Pandas' Series and DataFrames are iterables, and can be given to any function that expects a list or Numpy Array, which allows them to be useful to many different libraries' functions.  For example, to compute a mean of a column:

```python
np.mean(df['Column1'])
```

You can also use the "agg" method to call a function on the rows or columns of a DataFrame:

```python
df['Column1'].agg(np.mean)
```

Finally, Pandas supplies many different aggregation functions as methods:

```python
df.mean()
```

#### Exercises

What is the standard deviation of the Fertility rates in 1970?

In [ ]:
df[___].___()

What is the difference between the maximum and minimum Fertility rate in the same year? (np.ptp)

In [ ]:
df[___].agg(___)

What the sum of squared diffferences of the data from its mean in the same year?

In [ ]:
def sum_squares(array):
    pass

df[___].agg(___)

What about the mean of Germany's fertility rates, across all years?

**Discussion**: What are some challenges you see with aggregations of country data in this dataset?

## Transforming Data: Broadcasting Element-Wise Operations

Any transformation function can be performed on each element of a column, or even all columns of a DataFrame.  Here are several options for this approach:

Numpy-like Operator syntax:
```python
df['Column1'] * 100
```

Functions-style syntax:
```python
np.sqrt(df['Column1'])
```

Special broadcasted-version of different classes' Methods:
```python
df['Column1'].str.upper()
```

Apply() methods:
```python
df['Column1'].apply(np.sqrt)
```

****Exercises****: Let's try some of these on the data:

Square-root the values in 1970:

In [ ]:
np.___(df[___])

In [ ]:
df[___].apply(____)

Lowercase all of the country names using the string lower() method:

In [ ]:
df['Country Name'].___

In [ ]:
df['Country Name'].apply(___)

Replace all of the spaces with hyphens in Country Names (using the string replace() method):

In [ ]:
df['Country Name'].___

In [ ]:
df['Country Name'].apply(___)

## Handling Missing Values

Missing values can be indicated with a None or np.nan value, like in Numpy.  Pandas Dataframes have several methods for detecting, removing, and replacing these values:

```python
df.isna()
df.notna()
df.dropna()
df.fillna()
df.interpolate()
```

In [ ]:
data = df.iloc[1][-10:]
data[4] = np.nan
data = data.astype(float)

In [ ]:
data

**Discussion**: What approaches to data imputation appear most often in your work?

## Filtering Data

To get rows based on their value, Pandas supports both Numpy's logical indexing for filtering rows and an SQL-like query string.  For example, to get all the rows of a dataframe that is positive for Column1:

```python
positive_rows = df['Column1'] > 0
df[positive_rows]
```

Often, this is done in a single line:

```python
df[df['Column1'] > 0]
```

And using the query() method:

```python
df.query('Column1 > 0')
```

#### Exercises
Try the three different filtering methods for each getting Germany's Data:

In [ ]:
germany_row = df[___] == ___
df[___]

In [ ]:
df[___]

In [ ]:
df.query(___)

Also, for the fertility rates above 10 in 2005:

In [ ]:
df[___]

In [ ]:
df.query(___)

**Discussion**: How might you approach this if you wanted just the fertility rates above 10, regardless of year or country, but still wanted to know which country and year the values appeared in?

## Plots

Pandas DataFrames have a plot module as an attribute!

```python
>>> df['1973'].plot.hist()
```

**Exercises** Make at least 3 different visualizations, showing different aspects of the data:

Plot 1:

Plot 2:

Plot 3

Plot 4

Plot 5:

## Plotting with Matplotlib

Pandas is using a Python package called MatPlotLib to do the plotting for it.  Let's recreating the same plots using Matplotlb functions, instead of the Pandas DataFrame methods.  

So, instead of this:

```python
>>> df['1972'].plot.hist()
```

We can do this:
```python
>>> import matplotlib.pyplot as plt
>>> plt.hist(df['1972'])
>>> plt.title('1972')
>>> plt.xlabel('Fertility Rate')
>>> plt.ylabel('Frequency')
```

In [11]:
import matplotlib.pyplot as plt

Plot 1:

Plot 2

Plot 3

Plot 4

Plot 5

## Rolling Windows

Rolling windows are used most often for smoothing data, particularly data that changes over time.  Pandas has a special "rolling()" method that can calculate aggregations over overlapping windows using a variety of methods:

In [ ]:
df['1968'].dropna().plot();

In [ ]:
df['1968'].dropna().rolling(20, center=True, win_type='hanning').mean().plot();

**Note**: The above example shows how methods can be "dot-chained" together to form mini-pipelines.  These can get quite long, so to make them a bit easier to read, sometimes you'll see them spread out on multiple lines using parentheses to glue them together:

In [ ]:
(df
 .get('1968')
 .dropna()
 .rolling(20, center=True, win_type='hanning')
 .mean()
 .plot()
);

# Break

## Long (aka "Tidy") DataFrames

This dataset is concise, but challenging to analyze, because it contains a mixed structure that mixes data labels and values in a variety of ways. Let's look at it again:

In [ ]:
df.head(10)

This mixed structure means that, depending on the columns used, we need to write different code to answer our questions.  We can simplify our code by reorganizing the data into a simpler table-like structure using the pandas **melt()** method:

In [ ]:
dfl = df.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
    var_name='Year', value_vars=df.columns[df.columns.str.isdigit()], 
    value_name='Fertility'
)
dfl.head()

Long tables are particularly nice, because they contain a lot more information about the dataset!

We can undo the operation, making a new "wide" table with the **pivot()** method:

In [ ]:
dfl.pivot(index='Year', columns='Country Name', values='Fertility').head()

In addition, you can explore different rotations of your data using the stack() and unstack() methods:

In [ ]:
dfl.unstack()

In [ ]:
dfl.stack()

## Aggregating Data by Groups:

Once your data is in a simple structure, there are many different ways that you can summarize your data, particularly when there are categorical factors in your dataset.  For example, you can pivot your data and aggregate along multiple axes:

In [ ]:
dfl.pivot_table(values='Fertility', index='Year', aggfunc='mean').head()

In [ ]:
dfl.pivot_table(values='Fertility', index='Year', columns='Country Name', aggfunc='mean').head()

You can create counts of your different combinations by building a contingincy table:

In [ ]:
pd.crosstab(dfl['Country Name'], dfl['Year'])

The most common approach, however, is the **groupby()** method, which works similarly to the rolling() method, in that you calculate an aggregate on a special object:

In [ ]:
dfl.groupby('Year').mean().head()

In [ ]:
dfl.groupby(['Country Name', 'Year']).mean().head()

You can also use groupby in a for-loop, in case it's desired:

In [ ]:
for country_name, dd in df.groupby('Country Name'):
    pass

**Note**: Because these approaches create new indices, you'll often see a **reset_index()** call afterwards to restore a simple columnar-only "table"-like structure.

## Joining DataFrames

Finally, if we have multiple datasets, we can join them together by matching up their rows via a "join" function or "merge" method call.  To explore this, let's get some more data: the Continent Name of each Country.

In [ ]:
url = 'http://techslides.com/list-of-countries-and-capitals'
dfc = pd.read_html(url, header=0)[0]
dfc

We'll use the the **merge()** function to match the two datasets on the "Country Name" columns:

In [ ]:
dfl2 = pd.merge(dfl, dfc, on='Country Name')
dfl2.head()

Now, we can group by continents!

In [ ]:
dfl2.groupby("Continent Name")['Fertility'].mean()

## Exercises 
Let's practice answering some more-complex questions with our new structure!

How could we *only* add the continent name to the dataset, without all the longitude/latitute info and duplicated codes?

How can we track the the variance of the continent's fertility rate between its countries, over time?

How many countries are in each continent?

How well is each continent's data tracked? (e.g. what percent of missing data is in each continent?)

What was the average fertility rate of the three "Americas" during the 1990s?

## Visualization

Long dataframes make for simpler visualization, particularly with the seaborn and plotly-express packages:

In [ ]:
import seaborn as sns
dfl2.Year = dfl2.Year.astype(int)
sns.lineplot(data=dfl2, x='Year', y='Fertility', hue='Continent Name', );

## Writing Data

Pandas supports a wealth of data formats, all with a **DataFrame.to_()** method.  Let's take a look at some of these and discuss some gotchas we've come across when using them.

In [ ]:
dfl2.to_csv("continent_fertility.csv")